<!DOCTYPE html>
<html>
    <head>
        <title>{{ title_page }}</title>
    </head>
    <body>
        <ul>
            {% for data in input_data %}
            <li>
                <strong>{{ data.id }}.</strong> {{ data.title }}
                <div>
                    {{ data.content }}
                </div>
                <div>
                    <em>{{ data.user }}</em>
                </div>
            </li>
            <br>
            {% endfor %}
        </ul>
        <script>
            // Agregar codigo aqui
        </script>
    </body>
</html>